/* seletor{propriedade:valor;}*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}


/* menu*/

nav {
    background-color: #FFF;
    text-align: center;
    padding: 0px;
    margin-top: 30px;

}

a {
    color: #4b4040;
    font: 1.5rem 'Amatic SC', cursive;
    text-decoration: none;
}

.menu {
    margin-right: 20px;
    font-weight: bold;

}

.menu link, .a-menu :visited{
    color:#f87e7b;
    }

 .menu:hover, active{
    color: #6c5b7b;
}   


/*banner*/

header,img {
    background-color: #FFF;
    margin: 30px 30px;
    width: 95%;
    height: 50%;
    
}


/* ofertas e promoções*/

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    text-align: center;
    color: #63203d;
}

#containerpromocao {
   
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;

}

.card0 img{
   background-color: #FFF;
    margin: 30px;
    width: 83%;
    height:50%;
    border-radius: 2px;
    box-shadow: 0 4px 8px #7dbeb8;
    transition: 1s;


}

p {
    color: #212121;
    font: 4rem 'Amatic SC', cursive;    font-size: 20px;
    text-align: justify;
}

h2 {
    color: #63203d;
    font: 3rem 'Amatic SC', cursive;
    margin-bottom: 30px;
    font-weight: bold;
}


/* Buques*/

section {
    padding: 20px;
}

#secao-buques {
    background-color: #E8FFEA;
}

#secao-buques h2 {
    color: #212121;


}

#secao-buques p {
    font: 1.5rem'Amatic SC', cursive;
    color: #212121;
    margin-top: 30px;

}

#containerbuques {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}

.card1 {
    background-color: #FFF;
    margin:2px;
    width: 65%;
    border-radius: 8px;
    box-shadow: 2 4px 8px #7dbeb8;
    transition: 1s;
   
}

.card1:hover {
    box-shadow: 0 8px 16px  #19274e;
}

.card1 img{
    width: 70%;
    height: 50%;
}

h3 {
    font-family: 'Amatic SC', cursive;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
}




/* Arranjos */

#secao-arranjos{

}

p{
   font:1.5rem'Amatic SC', cursive; 
}
/*agendamento*/

#secao-agendamento {
    text-align: center;
}

#pag-login p {
    
    text-align: center;
	margin-bottom: 40px;
}

form {
    width: 400px;
    margin: 0 auto;
}

input,
select,
textarea {
    width: 100%;
	height: 30px;
	margin-bottom: 10px;
	padding-left:5px;
	box-sizing: border-box;
	color: #000;
	border: 1px solid #000;
	border-radius: 6px;
}

label,
input,
select,
textarea {
    font:1.5rem'Amatic SC', cursive; 
    color: #619885;
}

textarea {
    height: 80px;
}

#botoes-form {
    display: flex;
}

input[type="submit"], input[type="reset"]{
	margin:20px;
	background-color: #caf2be;
	border: 0;
	border-radius: 5px;
}

input[type="reset"]{
    background-color: #c1c1c1;
    }

/*rodape*/

#rodape img {
    width: 100%;
    height: 300px;
}

.container-imagens p {
    color: #d04969;
    
}

footer {
    background-color: #b2d5ba;
    padding: 20px;
}

footer p {
    text-align: center;
    color: #5d544d;
}

footer a {
    color: #F47E7E;
}

footer a:hover {
    color: #b31237;
}